
.about-inner-box{
    width: 22%;
    height: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.about-inner-box-icon{
    height:25%;
    width: 20%;
    /* background-color: maroon; */
    margin-bottom:50px ;
    border-radius: 50%;
}
.about-inner-box-icon>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-inner-box-text{
    height: 70%;
    width: 80%;
    /* background-color: rgb(128, 80, 80); */
    align-items: center;
    text-align: start;
    
}
.about-inner-box-text>p{
    font-size: 14px;

}