.slider-outer{
    width: 100%;
}
.slider-image{
    height: 100%;
    object-fit: cover;
}

.category-card-outer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 5%;
}

@media (max-width: 768px){
    .category-card-outer{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media (max-width: 480px){
    .category-card-outer{
        grid-template-columns: 1fr;
    }
}