.slider-outer{
    width: 100%;
}
.slider-image{
    height: 100%;
    object-fit: cover;
}

.category-card-outer{
    /* width: 200px; */
    display: flex;
    /* gap: 20px; */
    padding: 15px 1px;
}
